@{
    ViewData["Title"] = "Grace's Book Club";
}

<div class="text-center">
    <h1 class="display-4">Grace's Book Club: Where Stories Come to Life</h1>
    <p>Join us as we explore timeless literary masterpieces, share insights, and engage in meaningful discussions. Whether you're a passionate reader or just getting started, there's a place for you here!</p>
    <p>Our current book is *Crime and Punishment*, and we’ll be meeting 3-4 times over the next two months to dive deep into Dostoevsky’s world.</p>
	<img src="~/crimeandpunishment.jpg" />
    <br />
    <br />
    <br />
    <br />
    <h1>Past Books</h1>
    <br />
    <h3>Mans Search for Meaning -Viktor Frankl</h3>
	<img src="~/man'ssearchformeaning.jpeg" />
    <p>“human life, under any circumstances, never ceases to have a meaning, and that this infinite meaning of life includes suffering and dying, privation and death. I asked the poor creatures who listened to me attentively in the darkness of the hut to face up to the seriousness of our position. They must not lose hope but should keep their courage in the certainty that the hopelessness of our struggle did not detract from its dignity and its mean-ing. I said that someone looks down on each of us in difficult hours-a friend, a wife, somebody alive or dead, or a God-and he would not expect us to disappoint him. He would hope to find us suffering proudly—not miserably- knowing how to die.”</p>
    <br />
    <br />
    <h3>Build the life you want -Arthur Brooks</h3>
	<img src="~/buildthelifeyouwant.jpeg" />
    <p>
        "The Buddha taught his followers that to manage emotions, one must observe them as if they were happening to someone else." In this way, one can understand them consciously and let them pass away naturally instead of allowing them to turn into something destructive. Try this yourself when, for example, you have a strong disagreement with your partner or a friend and are feeling angry.
        Sit quietly and think about the feelings you are experiencing. Imagine them moving physically from your limbic system into your prefrontal cortex. There, observe the anger as if it were happening to someone else. Then say to yourself, "I am not this anger. It will not manage me or make my decisions for me." This will leave you calmer and more empowered."
    </p>
</div>
